# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

In [25]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Int & Float Assignments

##### Assigning int

In [1]:
number = 123
print(number)
print(type(number))

123
<class 'int'>

##### Assinging float

In [2]:
my_float = 123.456
print(my_float)
print(type(my_float))

123.456
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [3]:
print(2+3)
my_var1 = 2
my_var2 = 3
print(my_var1+my_var2)

5
5

In [4]:
my_new_num =123
my_new_num += 2
my_new_num = my_new_num +2
print(my_new_num)

127

##### Subtraction

In [7]:
num1 = 2
num2 = 5.7

In [11]:
result_diff = num1 - num2
print(result_diff)
result_diff -=3
print(result_diff)

-3.7
-6.7

##### Multiplication

In [12]:
result_prod = num1 * num2
print(result_prod)
result_prod *=2
print(result_prod)

11.4
22.8

##### Division

In [2]:
results_div = 4/2
print(results_div)

2.0

##### Floor Division

In [7]:
results_floor = 5//2
print(results_floor)

2

##### Modulo

In [10]:
result_mod = 5 % 2
print(result_mod)

1

In [14]:
6 % 2 != 0

False

##### Exponential

In [13]:
square = 5 ** 2
print(square)
square**=2
print(square)

25
625

In [19]:
result_expo = 3**3
print(result_expo)
result_expo **=2
print(result_expo)

27
729

### String Input-Output

##### String Assignment

In [15]:
name = "Tilahun"
name = "Tilahun"
print(name)

Tilahun

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
print(name, "is my name", sep=" ", end="\t")
print(name,"is my name", sep=" ", end="\n")
print("the second line")

Tilahun is my name	Tilahun is my name
the second line

##### String Concatenation

In [24]:
first = "Tilahun"
last = "Sema"
full_name = first + " " + last
print(full_name)
full_name+="is a great student"
print(full_name)

Tilahun Sema
Tilahun Semais a great student

##### Type Conversion

In [28]:
num1 = 3
num2 = "4"

print(num1 + int(num2))
print(str(num1)+ num2)

7
34

##### input()

In [33]:
age = input("what is your age? ")
print(age)
print(type(age))

age = int(input("what is your age"))
print(age)
print(type(age))

what is your age? 26
26
<class 'str'>
what is your age26
26
<class 'int'>

##### format()

In [34]:
age = int(input("what is your age? "))
result_string = 'you are {} years old and you are geting wiser!' .format(age)
print(result_string)

what is your age? 26
you are 26 years old and you are geting wiser!

#####  f- strintgs

In [37]:
age = int(input("what is your age?"))
result_string = f'You are {age} years old and getting wiser!'
print(result_string)

what is your age?26
You are 26 years old and getting wiser!

##### Old Way (python 2)

In [38]:
age = "35"
result_str = 'You are %s and you look great for your age!' %age
print(result_str)

You are 35 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [45]:
color = input("what color is your car? ")
year = input("what year is your car? ")
make = input ("what make is your car? ")
model = input ("what model is your car? ")


output = f'you drive a {year} {make} {model} that is painted {color} !'
print(output)

what color is your car? dark blue
what year is your car? 2014
what make is your car? chevrolet cruze
what model is your car? LT
you drive a 2014 chevrolet cruze LT that is painted dark blue !

### If Statements

In [47]:
num1 = 2
num2 = 10

if num1 != num2:
    #the code block
    print("not equal")
else:
    print("equal")

not equal

In [49]:
num1 = 20
num2 = 2 

if num1 > num2:
     print("num1 is greater")
elif num1 < num2:
      print("num1 is lesser")
else:
     print("equal to")

num1 is greater

In [51]:
num1 == 20 and num2 == 4

False

In [52]:
True and True or False and True

True

In [54]:
num2 == 2 or num1 == 20

True

In [55]:
True or True

True

In [56]:
True or False

True

##### 'is' keyword

In [57]:
#only use when asking if somethin is None
y = None
if y is None:
    print("y is None")

y is None

##### 'in' keyword

In [60]:
#check if a char is in a name
char_name = "Max Payne"
if "Max" in char_name:
    print("the character who lost everything...")
else:
    print("Not Found")

the character who lost everything...

##### 'not in' keyword'

In [73]:
#'not in' keyword
sega_char = "sonic"
if 's' not in sega_char:
    print("s is not in the name...!!!")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [70]:
"p" in input("what is your name? ").lower()

what is your name? nakupus

True

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [71]:
# for [placeholder] in [iterable]
# wtf is an 'iterable'?

name = "Zavier"
for letter in name:
    print(f"the next letter is {letter}")
    print("another line")
print("a third line")

the next letter is Z
another line
the next letter is a
another line
the next letter is v
another line
the next letter is i
another line
the next letter is e
another line
the next letter is r
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [75]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [76]:
x, y = ["a","b"]
print(x)
print(type(x))
print(y)
print(type(y))

a
<class 'str'>
b
<class 'str'>

In [77]:
foods = ["pizza", "tacos", "dimsum", "sushi", "crispy chicken sandwich"]

for food in foods: 
    print(food.title())
    print(foods)
    print(type(foods))
    print(list(range(len(foods))))

Pizza
['pizza', 'tacos', 'dimsum', 'sushi', 'crispy chicken sandwich']
<class 'list'>
[0, 1, 2, 3, 4]
Tacos
['pizza', 'tacos', 'dimsum', 'sushi', 'crispy chicken sandwich']
<class 'list'>
[0, 1, 2, 3, 4]
Dimsum
['pizza', 'tacos', 'dimsum', 'sushi', 'crispy chicken sandwich']
<class 'list'>
[0, 1, 2, 3, 4]
Sushi
['pizza', 'tacos', 'dimsum', 'sushi', 'crispy chicken sandwich']
<class 'list'>
[0, 1, 2, 3, 4]
Crispy Chicken Sandwich
['pizza', 'tacos', 'dimsum', 'sushi', 'crispy chicken sandwich']
<class 'list'>
[0, 1, 2, 3, 4]

In [78]:
len(foods)

5

In [80]:
list(range(len(foods)))

[0, 1, 2, 3, 4]

In [81]:
for index in range(len(foods)):
    print(index)
    print(foods[index])
    # () work on methods and functions
    # [] work on indexing

0
pizza
1
tacos
2
dimsum
3
sushi
4
crispy chicken sandwich

In [83]:
for index, food in enumerate(foods):
    print(f"at index {index} the value is {food}")
print(type(index))
print(type(food))

at index 0 the value is pizza
at index 1 the value is tacos
at index 2 the value is dimsum
at index 3 the value is sushi
at index 4 the value is crispy chicken sandwich
<class 'int'>
<class 'str'>

##### Break Statement

In [84]:
for n in range(10):
    if n == 5:
        break;
    print("move to next")

move to next
move to next
move to next
move to next
move to next

In [85]:
for n in range(10):
    if n == 5:
        continue;
    print("move to next")

move to next
move to next
move to next
move to next
move to next
move to next
move to next
move to next
move to next

##### Pass Statement

In [87]:
for food in foods:
    pass

##### Double For Loops

In [88]:
#double loops are bad
for i in range(5):
    for j in range(5):
        print(f'i={i} j={j}')

i=0 j=0
i=0 j=1
i=0 j=2
i=0 j=3
i=0 j=4
i=1 j=0
i=1 j=1
i=1 j=2
i=1 j=3
i=1 j=4
i=2 j=0
i=2 j=1
i=2 j=2
i=2 j=3
i=2 j=4
i=3 j=0
i=3 j=1
i=3 j=2
i=3 j=3
i=3 j=4
i=4 j=0
i=4 j=1
i=4 j=2
i=4 j=3
i=4 j=4

### While Loops

In [5]:
# while [boolean]:
    #code block

In [89]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [90]:
while True:
    print("hello")
    break

hello

In [91]:
while True:
    user_input = input("What do you want to do? quit or continue?")
    if user_input.lower() == "quit":
        break
    elif user_input.lower() == "continue":
        continue
    print("Input ERROR")

What do you want to do? quit or continue?nop
Input ERROR
What do you want to do? quit or continue?continue
What do you want to do? quit or continue?quit

##### While & For Loops Used Together

In [92]:
num = 0
while num < 5:
    print("while loop iteration: ", num)
    for i in range(5):
        print("for loop iteration: ", i)
    num += 1

while loop iteration:  0
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  1
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  2
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  3
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4
while loop iteration:  4
for loop iteration:  0
for loop iteration:  1
for loop iteration:  2
for loop iteration:  3
for loop iteration:  4

### Built-In Functions

##### range()

In [6]:
#range(start, stop, setp)
#range(stop)
#range(start, stop)

##### len()

In [93]:
len("hey")

3

##### help()

In [95]:
 
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [96]:
num = 1
type(num)

int

In [97]:
isinstance(num, int)

True

##### abs()

In [98]:
# absolute value
# | -5 | = 5 ... dist from zero

print(abs(5))
print(abs(-5))

5
5

### Try and Except

In [101]:
int("Steve")

ValueError: invalid literal for int() with base 10: 'Steve'

In [102]:
try:
    3/0
    print("it worked")
except ValueError: 
    print("you don f'd up")
except ZeroDivisionError:
    print("you can't divide by 0")
finally:
    print("okay move along")

you can't divide by 0
okay move along

In [ ]:
! - bang, point, exclamation point
# - pound sign, or hash, or hashtag
[] - brackets
() - paranthesis
{} - braces, curley brackets, curlies
#! - shebang
% - grapes
<> - angle brackets / greater than or less than
^ - carrot

### Lists

##### Declaring Lists

In [103]:
names = ["Kristina", "Frances", "Kenny", "Zak"]
print(names)

print(names[1:3])
names[::-1] #reverse list

['Kristina', 'Frances', 'Kenny', 'Zak']
['Frances', 'Kenny']

['Zak', 'Kenny', 'Frances', 'Kristina']

##### Indexing a List

In [104]:
print( names[2])

a_list = [1,2,3,["a","b","c"],4]
a_list[3][1]

Kenny

'b'

##### .append()

In [106]:
names = ["Kristina", "Frances", "Kenny", "Zak"]

In [107]:
names.append("Eryn")
print(names)

['Kristina', 'Frances', 'Kenny', 'Zak', 'Eryn']

In [108]:
names = names.append("Eryn")
print(names)

None

##### .insert()

In [111]:
names.insert(1, "Chelsey")
print(names)

AttributeError: 'NoneType' object has no attribute 'insert'

##### .pop()

In [113]:
print(names.pop(1).upper()+" is awesome")
names

AttributeError: 'NoneType' object has no attribute 'pop'


##### .remove()

In [114]:
names.append("Zak")
names.remove("Zak")
names

AttributeError: 'NoneType' object has no attribute 'append'

##### del()

In [115]:
names = ["Kristina", "Frances", "Kenny", "Zak"]
del names[1]
names

['Kristina', 'Kenny', 'Zak']

In [116]:
# do NOT EVER use del in a for loop!!!!!!!!

for i in range(len(names)):
    if i==2:
        del names[i]
    print(print(names[i]))
print(names)

Kristina
None
Kenny
None

IndexError: list index out of range

##### Concatenating Two Lists

In [117]:
l1 = [1,2,3]
l2 = [4,5,6]

l1 + l2

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [118]:
my_nested_list = ["max", "Sally", "Jason", [1,2,["a", "b"],3], "Jessica"]

my_nested_list[3][2][1]

'b'

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [131]:
cubed_list = []
for cube in range(1,1001):
    cube = cube**3
    cubed_list.append(cube)
    if cube == 1000:
        
        break
        
print(cubed_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [129]:
for Number in range (1, 100):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [121]:
age = int(input('Please enter a persons age.'))
if age < 18: print('kids.')
else: print('adults.')

Please enter a persons age.15
kids.